body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scrollbar-gutter: stable;
}

.navbar{
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto; */
    /* float: right; */
    height: 10%;
    /* padding: 10px 10px; */
    gap: 0 10px;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    height: fit-content;
}

.navbar a {
  /* float: right; */
  color: #006411;
  text-align: center;
  margin: 14px 14px 14px;
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  /* background-color: #ddd; */
  color: rgb(72, 108, 152);
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.container{
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(165, 207, 154);
}

.card-container{
    margin: 0;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
    padding: 5% 0;
}

.frog-card{
    display: flex;
    width: 200px;
    height: 100%;
    max-width: 300px;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    background-color: aliceblue;
}

.frog-card p{
    margin: 5px 0px;
}

.frog-card button{
    margin-top: auto;
}

.frog-card img{
    width: 100%;
    /* max-width: 200px; */
    /* max-height: 200px; */
    border-radius: 10px;
    object-fit: cover;
}

.frog-card .card-spec{
    cursor: pointer;
    object-position: -7px 0px;
    margin-top: auto;
    overflow-x: auto;
    

}

.frog-card audio{
    display: block;
    width: 100%;
    max-width: 300px;
    margin-top: auto;
}

.frog-card audio::-webkit-media-controls-panel {
  padding: 0 10px;
}


#popup-card {
    display: none;
    position: fixed;
    width: 70%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}



#popup-image{
    display: none;
    position: fixed;
    z-index: 2000;
    width: 70%;
    height: calc(fit-content - 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: aliceblue; */
}

.popup-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#popup-close {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    cursor: pointer;
}

#popup-close-image {
    position: absolute;
    top: -10px;
    left: -10px;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
}

#popup-image .popup-image{
    width: 100%;
    object-fit: contain;
}

#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#frog-picture{
    /* position: absolute;
    top: 30px;
    right: 30px; */
    max-width: 200px;
    float: right;
}

#popup-container{
    margin: 0;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

#popup-container .spec{
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: -10px 0px;
    cursor: pointer;
}


#popup-card audio{
    display: block;
    width: 100%;
    max-width: 300px;
}

#popup-card audio::-webkit-media-controls-panel {
  padding: 0 10px;
}