.container{
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(165, 207, 154);
}

.card-container{
    margin: 0;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 20px;
}

.frog-card{
    display: flex;
    width: 200px;
    /* height: 350px; */
    max-width: 300px;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    background-color: aliceblue;
}

.frog-card img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.frog-card audio{
    display: block;
    width: 100%;
    max-width: 300px;
}

.frog-card audio::-webkit-media-controls-panel {
  padding: 0 10px;
}


#popup-card {
    display: none;
    position: fixed;
    width: 70%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#frog-picture{
    position: absolute;
    top: 30px;
    right: 30px;
    max-width: 200px;
}

#popup-card .spec{
    width: 100%;
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

#popup-card audio{
    display: block;
    width: 100%;
    max-width: 300px;
}

#popup-card audio::-webkit-media-controls-panel {
  padding: 0 10px;
}